In [1]:
#Decision Control and the if Statement

In [2]:
def temperature(t):
    if t>86:
        print('It is hot!')
    elif t>32:
        print('It is cool')
    else:
        print('It is freezing')

In [3]:
temperature(87)

It is hot!

In [4]:
temperature(86)

It is cool

In [5]:
temperature(32)

It is freezing

In [6]:
#for Loop and Iteration Patterns

In [7]:
l=['cat','dog','chicken']
for animal in l:
    print(animal)

cat
dog
chicken

In [8]:
s='cupcake'
for c in s:
    if c in 'aeiou':
        print(c)

u
a
e

In [9]:
#Loop Pattern: Counter Loop

In [10]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [11]:
n=10
for i in range(n):
    if i%2==0:
        print(i, end=' ')

0 2 4 6 8

In [14]:
pets=['cat','dog','fish','bird']
len(pets)
range(len(pets))

range(0, 4)

In [15]:
for i in range(len(pets)):
    print(pets[i])

cat
dog
fish
bird

In [16]:
#Loop Pattern: Accumulator Loop

In [23]:
numList=[3,2,7,-1,9]
mySum=0
for num in numList:
    mySum=mySum+num
print(mySum)

20

In [20]:
#Accumulating Different Types

In [21]:
myProd=0
for num in numList:
    myProd=myProd*num
myProd

0

In [25]:
myProd=1
for num in numList:
    myProd=myProd*num
myProd

-378

In [26]:
#Loop Patterns: Nested Loop

In [28]:
n=5

In [29]:
for i in range(n):
    print(i, end=' ')

0 1 2 3 4

In [30]:
for j in range(n):
    for i in range(n):
        print(i, end=' ')

0 1 2 3 4 0 1 2 3 4 0 1 2 3 4 0 1 2 3 4 0 1 2 3 4

In [31]:
for j in range(n):
    for i in range(j):
        print(i, end=' ')

0 0 1 0 1 2 0 1 2 3

In [32]:
def nested(n):
    for j in range(n):
        for i in range(n):
            print(i, end=' ')
        print()

In [33]:
def nested2(n):
    for j in range(n):
        for i in range(j+1):
            print(i, end=' ')
        print()

In [35]:
#Two-Dimensional List

In [36]:
t=[[4,7,2,5],[5,1,9,2],[8,3,6,6]]

In [37]:
t[1]

[5, 1, 9, 2]

In [38]:
t[0]

[4, 7, 2, 5]

In [39]:
t[1][0]

5

In [40]:
t[0][0]

4

In [41]:
t[2][3]

6

In [42]:
t[2][3]=7

In [43]:
t[2][3]

7

In [44]:
#Two-Dimenstional Lists and the Nested Loop Pattern

In [45]:
for row in t:
    print(row)

[4, 7, 2, 5]
[5, 1, 9, 2]
[8, 3, 6, 7]

In [53]:
def print2D(t):
    for row in t:
        for item in row:
            print(item, end=" ")
        print()

In [54]:
print2D(t)

4 7 2 5
5 1 9 2
8 3 6 7

In [57]:
def incr2D(t):
    nrows=len(t)
    ncols=len(t[0])
    for i in range(nrows):
        for j in range(ncols):
            t[i][j] += 1

In [60]:
incr2D(t)
print2D(t)

7 10 5 8
8 4 12 5
11 6 9 10

In [61]:
#Loop Pattern: Loop and a Half

In [63]:
def cities():
    lst=[]
    city=input('Enter city: ')
    while city !='':
        lst.append(city)
        city=input('Enter city: ')
    return lst

In [64]:
cities()

Enter city: Beijing
Enter city: ShangHai
Enter city:

['Beijing', 'ShangHai']

In [66]:
def cities2():
    lst=[]
    while True:
        city=input('Enter city: ')
        if city == '':
            return lst
        lst.append(city)

In [67]:
cities2()

Enter city: Beijing
Enter city: Shanghai
Enter city:

['Beijing', 'Shanghai']

In [68]:
#Break Statement

In [69]:
table=[[2,3,0,6],[0,3,4,5],[4,5,6,0]]

In [70]:
print2D(table)

2 3 0 6
0 3 4 5
4 5 6 0

In [77]:
def before0(table):
    for row in table:
        for num in row:
            if num==0:
                break
            print(num, end=' ')
        print()

In [78]:
before0(table)

2 3

4 5 6

In [79]:
#continues Statement

In [80]:
table=[[2,3,0,6],[0,3,4,5],[4,5,6,0]]

In [81]:
def ignore0(table):
    for row in table:
        for num in row:
            if num==0:
                continue
            print(num, end=' ')
        print()

In [82]:
ignore0(table)

2 3 6
3 4 5
4 5 6

In [83]:
#pass Statement

In [84]:
if n%2 == 0:
    pass
else:
    print(n)

5