In [2]:
excuse = 'I\'m "sick"'
print(excuse)

I'm "sick"

In [9]:
poem='\n To make a prairie it takes a clover and one bee, - \n One clover, and a bee,\n And revery. \n The revery alone will do\n If bees are few.\n'
print(poem)

 To make a prairie it takes a clover and one bee, -
 One clover, and a bee,
 And revery.
 The revery alone will do
 If bees are few.

In [10]:
#Indexing Operator

In [11]:
s='hello'
s[0]

'h'

In [12]:
s[0:2]

'he'

In [13]:
s[3:4]

'l'

In [14]:
s[4:5]

'o'

In [15]:
s[-3:-1]

'll'

In [16]:
s[:2]

'he'

In [17]:
s[-3:]

'llo'

In [18]:
#String Methods

In [19]:
message='''This message is top secrete and should not be divulged to anyone without top secret clearance'''

In [20]:
message.find("top secret")

16

In [21]:
message.count("top secret")

2

In [22]:
message.replace("top","no")

'This message is no secrete and should not be divulged to anyone without no secret clearance'

In [24]:
public=message.replace('top','no')
print(public)

This message is no secrete and should not be divulged to anyone without no secret clearance

In [25]:
'this is the text'.split()

['this', 'is', 'the', 'text']

In [27]:
x='2;3;5;7;11;13'
x.split(';')

['2', '3', '5', '7', '11', '13']

In [29]:
#translate() is used to replace certain characters in a string with others based on a mapping of characters to characters
table=str.maketrans('abcdef','uvwxyz')
'fad'.translate(table)

'zux'

In [30]:
'desktop'.translate(table)

'xysktop'

In [31]:
#Formatted Output
#Print()

In [32]:
n=5
r=5/3
print(n,r)

5 1.6666666666666667

In [33]:
n=5
r=5/3
name='ida'
print(n,r,name)

5 1.6666666666666667 ida

In [34]:
n=5
r=5/3
name='ida'
print(n,r,name,sep=';')

5;1.6666666666666667;ida

In [35]:
for name in ['Joe','Same','Tim','Ann']:
    print(name)

Joe
Same
Tim
Ann

In [37]:
for name in ['Joe','Same','Tim','Ann']:
    print(name,end='! ')

Joe! Same! Tim! Ann!

In [38]:
#String Method format()

In [42]:
weekday='Wednesday'
month='March'
day=10
year=2010
hour=11
minute=45
second=33
'{2}:{0}:{1}'.format(hour, minute, second)

'33:11:45'

In [43]:
'{}:{}:{}'.format(hour, minute, second)

'11:45:33'

In [45]:
print('{},{} {},{} at {}:{}:{}'.format(weekday, month, day, year, hour,minute,second))

Wednesday,March 10,2010 at 11:45:33

In [46]:
#Lining Up Data in Columns

In [51]:
print('i  i**2  i**3  2**i')
for i in range (1,13):
    print(i, i**2, 2**i, sep='       ')

i  i**2  i**3  2**i
1       1       2
2       4       4
3       9       8
4       16       16
5       25       32
6       36       64
7       49       128
8       64       256
9       81       512
10       100       1024
11       121       2048
12       144       4096

In [52]:
'{0:3},{1:5}'.format(12,354)

' 12,  354'

In [53]:
first='Bill'
last='Gates'
'{:10}{:10}'.format(first, last)

'Bill      Gates     '

In [54]:
'{:8.4}'.format(1000/3)

'   333.3'

In [55]:
n=10
'{:b}'.format(n)

'A'

In [56]:
'{:c}'.format(n)

'\n'

In [57]:
'{:d}'.format(n)

'10'

In [58]:
'{:x}'.format(n)

'a'

In [59]:
'{:X}'.format(n)

'A'